#salary-content
  .container.text-center
    .row
      .col-md-6.col-md-offset-3
        %h1 Average Salary Search
        = bootstrap_form_tag url: "/salary", method: :get, html: { class: "form-horizontal", id: "js-average-salary" } do |f|
          = f.text_field :title, placeholder: "Ex. Teacher, Director", class: "js-focus", require: true, label: "Job Title"
          = f.submit "Search"
        %hr.invisible
          = render partial: "salary_results"