#salary-content
  .container.text-center
    .row
      .col-md-6.col-md-offset-3
        %h1 Job Title
        = form_tag "/salary", method: :post, html: { class: "form-horizontal", id: "js-average-salary" } do
          = text_field_tag :title, nil, placeholder: "Ex. Teacher, Director", class: "js-focus", require: true
          = submit_tag "Search"
        = @average_salary