.footer
  .container
    %hr.invisible
    %hr.invisible
    .row.text-center
      .col-md-4.col-md-offset-2
        Created by
        = link_to "James Morrison Klein", "http://www.jamesmklein.com/", target: "_blank"
        &copy; 2016
      .col-md-4
        Data pulled from 
        = link_to "Employee Earnings Report 2014", "https://data.cityofboston.gov/Finance/Employee-Earnings-Report-2014/4swk-wcg8", target: "_blank"